$primary-color: #ffff46;
$background-color: #202020;

body {
    font-family: 'Atkinson Hyperlegible Mono', serif;
    background-color: $background-color;

    h1 {
        color: $primary-color;
        font-family: 'Atkinson Hyperlegible Mono', serif !important;
    }

    .validator-description {
        font-family: 'Atkinson Hyperlegible Mono', serif !important;
    }

    .img-rounded {
        border-radius: 50%;
    }

    header {
        .toolbar-title {
            .v-toolbar-title__placeholder {
                display: flex;
                align-items: center;
            }
        }

        a {
            color: #121212;
            text-decoration: none;
        }
    }

    nav {
        .mobile-menu-item {
            a {
                color: #ffff46;
                text-decoration: none;
            }
        }
    }
}